/* stylelint-disable no-duplicate-selectors */
@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "sass:string";
@use "sass:meta";

@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/variables-alias" as *;
@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

@use "./vars" as *;

@mixin info-hub {
 .info-hub {
  @include media($bp-md-1000) {
   @include flex-revers-y-center;
  }
  display: flex;

  &__item {
   margin-left: clamp(
    calc(var(--info-hub--__item--margin-left) * var(--global--resize-ratio)),
    vw(map.get($info-hub, "__item--margin-left")),
    var(--info-hub--__item--margin-left)
   );
  }

  &__item {
   @include media($bp-md-1000) {
    margin-bottom: 1.5rem;
    margin-left: 0;
   }
  }
 }
}

@include info-hub;
